body {
    margin: 0;
    background: #0f0f0f;
    color: white;
    font-family: Arial;
}

#app {
    padding: 10px;
}

.card {
    background: #1a1a1a;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 15px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.title {
    font-size: 18px;
    margin: 5px 0;
}

button {
    margin: 5px 5px 0 0;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.open {
    background: #e50914;
    color: white;
}

.delete {
    background: #333;
    color: white;
}

.poster {
    width: 100%;
    border-radius: 10px;
}

.season {
    margin-top: 15px;
}

.episode {
    display: inline-block;
    padding: 8px;
    margin: 4px;
    background: #222;
    border-radius: 6px;
    cursor: pointer;
}

.episode.watched {
    background: #e50914;
}

.back {
    margin-bottom: 10px;
    cursor: pointer;
    color: #aaa;
}
